@import "../../../SassCommon/variables";

.btn {
  height: 50px;
  width: 148px;
  border: none;
  border-radius: 80px;
  transition-duration: 0.4s;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  &:hover {
    background-color: $primaryHoverColor;
  }
}

.primary {
  background: $primaryColor;

}

.secondary {
  background-color: $secondaryColor;
}

.primary, .secondary {
  &:disabled {
    background: #b4b4b4;
    color: white;
    border: none;
  }

  &:focus {
    border: none;
  }

  &:active {
    border: none;
  }

}

