@import "../../SassCommon/mixines";

.section {
    background-color: #EDECEA;
    padding-top: 60px;
    
    .wrapper {
        margin: 0 auto;
        max-width: 1392px;
        height: 650px;
        background: center / cover no-repeat url("../../Assets/Img/Banner_photo.jpg");

        .container {
            @include container(0);
            height: 100%;
    
            .description {
                @include flexCenter(column);
            
                align-items: flex-start;
                max-width: 670px;
                height: 100%;
                h1 {
                    margin-bottom: 21px;
                }
                p {
                    max-width: 527px;
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}

@media screen and (max-width: 2559px) {
    .section {
        .wrapper {
            .container {
                @include container(60px);
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .section {
        .wrapper {
            height: 500px;
            background-position: -140px 0px;
            .container {
                @include container(32px);
                .description {
                    max-width: 424px;
                    width: 100%;
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .section {
        .wrapper {
            height: 469px;
            background-size: 815px;
            background-position: -218px 112px;
            .container {
                @include container(16px);
                .description {
                    max-width: 240px;
                    width: 100%;
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}