@import "../../../SassCommon/mixines.scss";
@import "../../../SassCommon/variables";

.wrapper {
    @include absolut;

    .menu {
        position: fixed;
        width: 270px;
        left: 0;
        top: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background-color: #FFFFFF;
        height: 100%;
        animation: left 0.3s ease-in-out;

        .logoWrapper {
            height: 60px;
            padding: 17px 16px;
            border-bottom: 1px solid #E0E0E0;
        }
        .linkWrapper {

        }
        .nav {
            @include flexCenter(column);
            align-items: flex-start;
            padding: 30px 16px;
            border-bottom: 1px solid #E0E0E0;
        }
        .nav .item:not(:last-child) {
            margin-bottom: 22px;
        }

        .item {
            position: relative;
            width: 100%;

            .active {
                color: $secondaryColor;
            }
        }
        .item a {
            font-size: 16px;
            line-height: 26px;
            color: $textColor;
            text-decoration: none;
            cursor: pointer;
            &:hover::before {
                content: '';
                position: absolute;
                width: calc(100% + 16px);
                height: 40px;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(0, 189, 211, 0.1);
                border-radius: 4px;
                z-index: -1;
            }
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}

@keyframes left {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}