@mixin container($p) {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 $p;
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}