@import "../../../SassCommon/mixines.scss";

.wrapper {
    @include absolut;

    .background {
        @include background;
    }

    .modal {
        @include fixed;
        @include flexCenter(column);
        align-items: flex-end;
        max-width: 452px;
        width: 100%;
        padding: 24px;
        border-radius: 4px;
        background-color: #ffffff;
    
        .descr {
            width: 100%;
            margin-bottom: 33px;
    
            .title {
                display: inline-block;
                margin-bottom: 6px;
                font-size: 22px;
                line-height: 31px;
                color: #000000;
            }
        
            .text {
                display: inline-block;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        .modal {
            max-width: 328px;
            width: 100%;
        }
    }
}