@import "../../../SassCommon/mixines.scss";
@import "../../../SassCommon/variables";

.wrapper {
    @include absolut;

    .background {
        @include background;
    }
    .spinnerWrapper {
        @include flexCenter(row);
        @include fixed;
        width: 100px;
        height: 100px;

        .spinner {
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}

