@import "./../../Common/commonStyle.scss";

.section {
    @include container(60px);

    margin: 175px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 340px;
        max-height: 100%;
    }

    .description {
        @include flexCenter(column);

        align-items: flex-end;
        width: 477px;
        max-width: 100%;

        h2 {
            font-size: 22px;
            line-height: 28px;
            margin-top: 9px;
        }   
        
        p {
            padding: 20px 0 32px 0;
            font-size: 16px;
            line-height: 26px;
            text-align: right;
        }
    }
}