@import "../../SassCommon/mixines";
@import "../../SassCommon/variables";

.section {
    margin: 0 auto;
    padding-top: 180px; // correct to pixel-perfect

    .container {
        @include container(0);

        .wrapper {
            @include flexCenter(row);
            justify-content: space-between;

            img {
                height: 340px;
                max-height: 100%;
            }

            .description {
                @include flexCenter(column);

                justify-content: flex-end;
                align-items: flex-end;
                width: 680px;
                max-width: 100%;
                padding-bottom: 3px; // correct to pixel-perfect

                h2 {
                    font-size: 22px;
                    line-height: 28px;
                    margin-top: 10px;
                }

                p {
                    padding: 20px 0 32px 0;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 2559px) {
    .section {
        padding-top: 175px;
        .container {
            @include container(60px);
            .wrapper {
                .description {
                    width: 477px;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .section {
        .container {
            @include container(32px);
            .wrapper {
                img {
                    height: 260px;
                }
                .description {
                    width: 368px;
                    max-width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .section {
        padding-top: 145px;
        .container {
            @include container(16px);
            .wrapper {
                img {
                    height: 287px;
                }
                .description {
                    margin-top: 38px;
                    align-items: flex-start;
                    p {
                        text-align: left;
                    }
                }
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}