@import "../../SassCommon/mixines";
@import "../../SassCommon/variables";

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #FFFFFF;
    filter: drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.15)) drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));

    .container {
        @include container(60px);
    
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    
    .nav {
        display: flex;
        align-items: center;
    
        .item {
            margin-left: 31px;
        }

        .item a {
            font-size: 16px;
            line-height: 26px;
            color: $textColor;
            text-decoration: none;
            cursor: pointer;
        }

        .active {
            color: $secondaryColor;
        }
    }
}

