@import "../../SassCommon/mixines";
@import "../../SassCommon/variables";

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #FFFFFF;
    filter: drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.15)) drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));

    .container {
        @include container(0);
        .wrapper {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menuIcon {
                display: none;
            }
            .nav {
                display: flex;
                align-items: center;

                .item {
                    margin-left: 31px;
                    position: relative;

                    .active {
                        color: $secondaryColor;
                    }
                }

                .item a {
                    font-size: 16px;
                    line-height: 26px;
                    color: $textColor;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 32px);
                        height: 40px;
                        left: -16px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(0, 189, 211, 0.1);
                        border-radius: 4px;
                        z-index: -1;
                    }
                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2559px) {
    .header {
        .container {
            @include container(60px);
        }
    }
}
@media screen and (max-width: 1023px) {
    .header {
        .container {
            @include container(32px);
            .wrapper  {
                .nav {
                    display: none;
                }
                .menuIcon {
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .header {
        .container {
            @include container(16px);
        }
    }
}

