@font-face {
    font-family: 'Nunito';
    src: url('./Assets//Fonts//Nunito-Regular.woff2') format('woff2'),
    url('./Assets/Fonts/Nunito-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    color: #000000 87%;
}
@font-face {
    font-family: 'Asap';
    src: url('./Assets/Fonts/Asap-Regular.woff2') format('woff2'),
    url('./Assets/Fonts/Asap-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    color: #000000 87%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: 'Asap', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    color: #000000 87%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p, button, span, textarea, label, input {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000 87%;
}
