@import "../../../SassCommon/variables";

.wrapper {
  position: relative;
  display: inline-flex;
  height: 54px;
  width: 380px;
  max-width: 100%;

  .input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .label {
    width: 83px;
    height: 100%;
    border: 1px solid #000000DE;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 14px 14px 14px 15px;
    font-size: 16px;
    line-height: 26px;
  }

  .textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid $enableColor;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 14px 16px 12px;
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    // overflow: hidden;

    &::placeholder {
      color: $greyColor;
    }
  }

  .error {
    position: absolute;
    left: 16px;
    top: 58px;
    color: $errorColor;
    font-family: Asap, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
  }

  .errorLabel {
    border: 2px solid $errorColor;
  }

  .errorTextarea {
    border: 2px solid $errorColor;
    border-left: none;
  }
}

